# Lab 1 - Web Scraping Single Page

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
#request and make soup
url = "https://www.popvortex.com/music/charts/top-100-songs.php"
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

In [13]:
#the page structure is strait forward, two for loops should create two lists of songs and artists in the correct and matching order
songs = []
artists = []

for artist in soup.select('em.artist'):
    artists.append(artist.text)
    
for song in soup.select('cite.title'):
    songs.append(song.text)

In [15]:
#turn to pandas dataframe and do a quick check

top100songs = pd.DataFrame({"song":songs,"artist":artists})

top100songs

                                 song            artist
0                      TEXAS HOLD 'EM           Beyoncé
1                        Lose Control       Teddy Swims
2                    Beautiful Things      Benson Boone
3                             Flowers       Miley Cyrus
4             Turn the Lights Back On        Billy Joel
..                                ...               ...
95  To Be A Man (feat. Darius Rucker)               Dax
96                           The Door       Teddy Swims
97                         It Takes 3  Pitbull & Vikina
98                      bury a friend     Billie Eilish
99                        Unstoppable               Sia

[100 rows x 2 columns]

In [16]:
#just create another dataframe with the songs' place in another column
t100 = top100songs.copy()
t100['place'] = range(1,len(t100)+1)
t100

                                 song            artist  place
0                      TEXAS HOLD 'EM           Beyoncé      1
1                        Lose Control       Teddy Swims      2
2                    Beautiful Things      Benson Boone      3
3                             Flowers       Miley Cyrus      4
4             Turn the Lights Back On        Billy Joel      5
..                                ...               ...    ...
95  To Be A Man (feat. Darius Rucker)               Dax     96
96                           The Door       Teddy Swims     97
97                         It Takes 3  Pitbull & Vikina     98
98                      bury a friend     Billie Eilish     99
99                        Unstoppable               Sia    100

[100 rows x 3 columns]