# Lab 1 - Web Scraping Single Page

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#request and make soup
url = "https://www.popvortex.com/music/charts/top-100-songs.php"
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

In [3]:
#the page structure is strait forward, two for loops should create two lists of songs and artists in the correct and matching order
songs = []
artists = []

for artist in soup.select('em.artist'):
    artists.append(artist.text)
    
for song in soup.select('cite.title'):
    songs.append(song.text)

In [4]:
#turn to pandas dataframe and do a quick check

top100songs = pd.DataFrame({"song":songs,"artist":artists})

top100songs

,song,artist
0,TEXAS HOLD 'EM,Beyoncé
1,Lose Control,Teddy Swims
2,Beautiful Things,Benson Boone
3,Flowers,Miley Cyrus
4,Turn the Lights Back On,Billy Joel
...,...,...
95,Tell It To My Heart,Cash Cash & Taylor Dayne
96,"We Takin' Over (feat. Akon, T.I., Rick Ross, F...",DJ Khaled
97,Used To Be Young,Miley Cyrus
98,Heart Like a Truck,Lainey Wilson
99,greedy,Tate McRae

In [5]:
#just create another dataframe with the songs' place in another column
t100 = top100songs.copy()
t100['place'] = range(1,len(t100)+1)
t100

,song,artist,place
0,TEXAS HOLD 'EM,Beyoncé,1
1,Lose Control,Teddy Swims,2
2,Beautiful Things,Benson Boone,3
3,Flowers,Miley Cyrus,4
4,Turn the Lights Back On,Billy Joel,5
...,...,...,...
95,Tell It To My Heart,Cash Cash & Taylor Dayne,96
96,"We Takin' Over (feat. Akon, T.I., Rick Ross, F...",DJ Khaled,97
97,Used To Be Young,Miley Cyrus,98
98,Heart Like a Truck,Lainey Wilson,99
99,greedy,Tate McRae,100

# Lab 2 - GNOD Part 2

In [26]:
t100.sample()['song'].iloc[0]

'CARNIVAL'

In [27]:
def arrogant_recommender(song):
    song_name = str(song).lower() #This makes all the input a lowercase string value, as far as I am concerned, this should not cause any problem and makes it convenient for comparison
    if song_name in [name.lower() for name in list(t100['song'])]:
        recommend = t100.sample()
        vox = 'You may listen to ' + recommend['song'].iloc[0] + ' by ' + recommend['artist'].iloc[0] + '.'
        print(vox)
        return vox
    else:
        vox = 'We accept hot songs only, get lost.'
        print(vox)
        return vox

In [29]:
arrogant_recommender('kek')
arrogant_recommender('GREEDY')

We accept hot songs only, get lost.
You may listen to A Symptom Of Being Human by Shinedown.

'You may listen to A Symptom Of Being Human by Shinedown.'